{{ define "main" }}
  <article class="article">
    <header class="article-header">
      {{ if ne .Type "about" }}
        <div class="post-meta">
          {{ with .Date }}
            <time datetime="{{ .Format "2006-01-02" }}">{{ .Format "2 January 2006" }}</time>
          {{ end }}

          {{ if gt .ReadingTime 0 }}
            <span>{{ .ReadingTime }} min read</span>
          {{ end }}
        </div>
      {{ end }}

      <h1>{{ .Title }}</h1>

      {{ with .Description }}
        <p>{{ . }}</p>
      {{ else with .Summary }}
        <p>{{ . | plainify }}</p>
      {{ end }}
    </header>

    <div class="article-body">
      {{ .Content }}
    </div>
  </article>
{{ end }}
